---
import { Image } from 'astro:assets'

import { Quote } from 'astro-pure/advanced'
import { PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, getUniqueTags, sortMDByDate } from 'astro-pure/server'
import { Button,  Label } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import Section from '@/components/home/Section.astro'
import avatar from '@/assets/avatar.jpg'

const MAX_POSTS = 10
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
const uniqueTags = getUniqueTags(allPosts)
---

<PageLayout meta={{ title: 'Zaoblog - Inicio' }} highlightColor='#659EB966'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-20 flex flex-col items-center gap-y-12' id='content-header'>
      <Image
        src={avatar}  
        alt='TTK-095'
        class='h-28 w-auto rounded-full border p-1'
        loading='eager'
      />

      <div class='flex flex-col items-center gap-y-6'>
        <h1 class='text-4xl font-bold'>Zaoblog</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label title='Por TTK-095'></Label>
        </div>
      </div>

    </section>

    <div id='content' class='animate flex flex-col gap-y-20 md:w-4/5 lg:w-5/6'>
      <Section title='About'>
        <p class='text-muted-foreground'>
          Aquí encontrarás artículos y tutoriales sobre sistemas operativos, 
          redes, ciberseguridad y otros temas fascinantes del mundo de la informática. Soy TTK-095,
          un apasionado de la tecnología y la seguridad. Comparto mis descubrimientos, experiencias
          y conocimientos para que puedas aprender y estar al día en estos apasionantes campos.
        </p>
      </Section>

      {
        allPostsByDate.length > 0 && (
          <Section title='Top Posts'>
            <ul class='flex flex-col gap-y-4'>
              {allPostsByDate.map((p) => (
                <li class='flex flex-col gap-x-4 sm:flex-row'>
                  <PostPreview post={p} />  
                </li>
              ))}
            </ul>
              <Button title='Ver todas las publicaciones' class='w-fit self-end' href='/blog' style='ahead' />
          </Section>
        )
      }

      {!!uniqueTags.length && (
        <Section title='Tags'>
          <ul class='flex flex-wrap gap-2'>
            {uniqueTags.map((tag) => (
              <li>
                <Button title={tag} href={`/tags/${tag}`} style='pill' />
              </li>
            ))}
          </ul>
          <span class='mt-4 block sm:text-end'>
            <a aria-label='View all blog tags' href='/tags'>
              Ver todas →
            </a>
          </span>
        </Section>
      )}

    </div>
    <Quote class='mt-20' />
  </main>
</PageLayout>